.header {
  background-color: #fff;
  line-height: 2;
}

.header h5 {
  line-height: 1.5;
}

.header__img {
  background-image: url(../img/Image-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 265px;
  width: 100%;
  background-position: center;
  transition: all 0.5s;
}
