.header {
  background-color: #fff;
  line-height: 2;
}

.header h5 {
  line-height: 1.5;
}

.header__img {
  background: rgb(63, 94, 251);
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgb(63, 47, 206) 100%
  );
  background-image: url(../img/image-1.jpg);
  filter: saturate(0%);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 265px;
  width: 100%;
  background-position: center;
  transition: all 10s;
}
