.logo {
  font-weight: 800;
}

.navbar {
  padding: 10px 0px;
}

.navbar-expand-md .navbar-nav .nav-link {
  padding-right: 0px;
  padding-left: 20px;
}

.heading__primary {
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
}

.self-typed {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 2px;
}

.project {
  transition: all 0.3s;
}

.card {
  border-radius: 3px;
  background-color: #fff;
  transition: all 0.4s;
  border: 1px solid #edeff0;
}
.project:hover .card {
  transform: translateY(-5px);
  box-shadow: 0px 1rem 1rem rgba(0, 0, 0, 0.15);
}

.project__link {
  color: black;
}

.project__link:hover {
  text-decoration: none;
}

.project__shape {
  width: 100%;
  overflow: hidden;
  position: relative;
}
.project__img {
  width: 100%;
  backface-visibility: hidden;
  transition: all 0.4s;
  border-radius: 3px;
}

.project__text {
  color: black;
}

.project__caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 20%);
  color: #fff;
  font-size: 1.7rem;
  text-align: center;
  opacity: 0;
  transition: all 0.5s;
  backface-visibility: hidden;
}
.project:hover .project__caption {
  opacity: 1;
  transform: translate(-50%, -50%);
}

.project:hover .project__img {
  transform: scale(1);
  filter: blur(2px) brightness(50%);
}

/* @media (max-width: 968px) {
  .project {
    margin-bottom: 1rem;
    box-shadow: 0px 0.05rem 0.1rem rgba(0, 0, 0, 0.15);
  }
} */
