body {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace !important;
}

.logo {
  font-size: 1.5rem;
  font-weight: 700;
}

.self-typed {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 2px;
}

.project__item {
  padding: 1rem;
  background-color: #f9f9f9;
  margin-bottom: 1rem;
  border-radius: 3px;
  transition: 0.3s;
}

.project__item:not(:last-child) {
  margin-right: 1rem;
}
.project__item:hover {
  background-color: #f1f1f1;
  transform: translateY(-5px);
  box-shadow: 0px 0.5rem 0.5rem rgba(0, 0, 0, 0.15);
}
.project__item img {
  margin-bottom: 1rem;
  border-radius: 3px;
}
@media (max-width: 768px) {
  .container {
    width: 100%;
    max-width: none;
  }
  .project__item:not(:last-child) {
    margin-right: 0px;
  }
}
