/* body {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace !important;
} */

.logo {
  font-size: 1.5rem;
  font-weight: 700;
}

.navbar {
  padding: 10px 0px;
}

.navbar-expand-md .navbar-nav .nav-link {
  padding-right: 0px;
  padding-left: 20px;
}

.heading__primary {
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
}

.self-typed {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 2px;
}
.project {
  margin-top: 2rem;
}
.project__item {
  padding: 1.5rem;
  margin-bottom: 1rem;
  border-radius: 3px;
  transition: 0.3s;
}

.project__item:hover {
  background-color: rgb(246, 247, 249);
  transform: translateY(-3px);
  box-shadow: 0px 0.5rem 0.5rem rgba(0, 0, 0, 0.15);
}
.project__item img {
  margin-bottom: 1rem;
  border-radius: 3px;
}

.project__item a {
  color: #111;
}
.project__item:hover a {
  text-decoration: none;
}
@media (max-width: 960px) {
  .project__item {
    margin-bottom: 1rem;
    box-shadow: 0px 0.2rem 0.1rem rgba(0, 0, 0, 0.15);
  }
}
